<footer>
    <div id="contact" class="footer">
        <div class="container">
            <div class="row pdn-top-30">
                <div class="col-md-12 ">
                    <div class="footer-box">
                        <div class="headinga">
                            <h3>Address</h3>
                            <span>Technological Institute of the Philippines - Arlegui Campus, 1338 Arlegui St, Quiapo, Manila, 1001 Metro Manila</span>
                            <p>(02) 8733 9117
                                <br>mamdavid@tip.edu.ph</p>
                        </div>
                        <ul class="location_icon">
                            <li> <a href="https://www.facebook.com/TIP1962official"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="https://www.tip.edu.ph/"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="https://www.instagram.com/tip1962official"><i class="fa fa-instagram"></i></a></li>

                        </ul>
                        <div class="menu-bottom">
                            <ul class="link">
                                <li> <a href="/">Home</a></li>
                                <li> <a href="/about">About</a></li>
                                <li> <a href="/shop">Shop</a></li>
                                <li> <a href="/contact">Contact Us</a></li>
                                <li> <a href="/login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© 2024 All Rights Reserved. Design By<a href="https://www.tip.edu.ph/"> MotoRush Group</a></p>
            </div>
        </div>
    </div>
</footer>